[user]
  name = byeich
  email = ggld153@gmail.com

[core]
  editor = vim
  autocrlf = input

[pull]
  rebase = false

[init]
  defaultBranch = main

[alias]
  st = status
  co = checkout
  br = branch
  lg = log --oneline --graph --decorate
  last = log -1 HEAD
